/* Position and sizing of burger button */
.bm-burger-button {
  display: none;
  position: fixed;
  width: 36px;
  height: 30px;
  right: 36px;
  top: 15px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 48px !important;
  width: 48px !important;
  right: 30px !important;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
  height: 32px !important;
  width: 4px !important;
  right: 10px !important;
}

.bm-menu-wrap {
  top: 0;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 2rem;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
  display: none;
}

@media (max-width: 918px) {
  .bm-burger-button {
    display: block;
  }

  .bm-overlay {
    display: unset;
  }
}
