// Mobile @media queries
@media only screen and (max-width: 930px) {
  .name a {
    font-size: 1.7rem;
    margin-left: 10px;
  }

  #scene {
    li.name {
      font-size: 2.3rem;
    }

    li.title {
      font-size: 2rem;
    }
  }

  section.beating-heart {
    p {
      font-size: 1.7rem;
      line-height: 1.8rem;
    }

    .heart {
      width: 5.5rem;
      margin: 0 30px 0 30px;
    }

    span {
      font-size: 3.5rem;
    }
  }
}

@media only screen and (max-width: 736px) {
  .cover-main {
    height: 75vh;
  }

  #scene {
    margin-top: 3rem;

    li.name {
      font-size: 2rem;
    }

    li.title {
      font-size: 1.7rem;
    }

    li.btn {
      margin-top: 9.4rem;
    }
  }

  section.beating-heart {
    .heart {
      width: 4.5rem;
      margin: 0 30px 0 30px;
    }

    span {
      font-size: 3rem;
    }
  }

  footer {
    height: 180px;
    padding-top: 40px;

    p,
    span {
      font-size: 0.9rem;
      line-height: 1.1rem;
    }
  }

  .webicon.large {
    width: 36px;
    height: 36px;
  }

  .form-wrapper {
    padding: 60px 20px;
  }
}

@media only screen and (max-width: 625px) {
  .high-img {
    height: initial;
  }

  .grid-item {
    width: initial;
  }

  section.beating-heart {
    height: 70vh;
    margin-top: 2rem;
    padding: 30px 10px;

    p {
      font-size: 1.4rem;
      line-height: 1.6rem;
    }

    span {
      font-size: 2.5rem;
    }
  }
}

@media only screen and (max-width: 560px) {
  .menu {
    max-width: 200px;
  }

  #scene {
    li.name {
      font-size: 1.7rem;
    }

    li.title {
      font-size: 1.4rem;
    }
  }

  .portfolio-btn,
  .contact-btn {
    margin: 0.5rem;
    font-size: 1rem;
    max-width: 200px;
  }

  h2.sub-title {
    font-size: 1.7rem;
    line-height: 1.9rem;
    margin: 30px auto;
  }

  section.beating-heart {
    height: initial;
  }

  footer {
    height: 150px;
    padding-top: 20px;

    p,
    span {
      font-size: 0.8rem;
      line-height: 1.1rem;
    }
  }

  .webicon.large {
    width: 32px;
    height: 32px;
  }
}

@media only screen and (max-width: 420px) {
  .name a {
    font-size: 1.5rem;
    line-height: 1.2rem;
  }

  #scene {
    li.name {
      font-size: 1.6rem;
    }

    li.title {
      font-size: 1.3rem;
    }
  }

  .portfolio-btn,
  .contact-btn {
    font-size: 1rem;
  }

  h2.sub-title {
    font-size: 1.5rem;
    line-height: 1.7rem;
  }

  section.beating-heart {
    p {
      font-size: 1.3rem;
      line-height: 1.4rem;
    }

    .heart {
      width: 3rem;
      margin: 0 10px;
      padding-bottom: 10px;
    }

    span {
      font-size: 1.5rem;
    }
  }

  section.slider-div p {
    font-size: 1.2rem;
    line-height: 1.3rem;
  }

  .form-wrapper {
    padding: 30px 0;
    font-size: 0.9rem;
  }

  .form-wrapper form input[type="submit"] {
    font-size: 1.2rem;
  }
}
