// Responsive navbar style
@media only screen and (max-width: 768px) {
  .name {
    padding: 15px 0 10px 15px;
  }

  .menu-trigger {
    background: url("https://myfiles.ams3.digitaloceanspaces.com/personal-portfolio/hamburger-icon.svg")
      no-repeat center / cover;
    display: block;
    height: 35px;
    position: absolute;
    right: 10px;
    top: 15px;
    width: 35px;
    z-index: 10;
  }

  .main-overlay {
    background: rgba(0, 0, 0, 0.72);
    bottom: 0;
    display: none;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100vw;
    z-index: 6;
    &:after {
      background: url("https://myfiles.ams3.digitaloceanspaces.com/personal-portfolio/close-icon.svg")
        no-repeat center / cover;
      content: "";
      display: block;
      height: 35px;
      position: fixed;
      right: 10px;
      top: 15px;
      width: 35px;
      z-index: 20;
    }
  }

  .menu {
    background: rgba(0, 0, 0, 0.85);
    bottom: 0;
    left: 0;
    max-width: 300px;
    position: fixed;
    top: 0;
    transform: translate3d(-100%, 0, 0);
    transition: 0.2s;
    width: 100vw;
    z-index: 30;
    padding-bottom: 0;
  }

  nav.nav-wrapper ul li {
    display: block;
    margin-top: 20px;
    padding: 10px 0;
    a {
      font-size: 1.2rem;
      line-height: 1.4rem;
      &:hover {
        border-color: transparent;
      }
    }
  }

  body.menu-active .menu {
    display: block;
    transform: translate3d(0, 0, 0);
    margin-bottom: 0;
  }

  body.menu-active .main-overlay {
    display: block;
  }

  body.menu-active .menu-trigger,
  body.menu-active .sticky {
    display: none;
  }
}
