@import "reboot", "variables";

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 100%;
  overflow-x: hidden;
}

body {
  font-family: $montserrat;
  overflow-x: hidden;
}

/*
  Webicons Social Icons
*/
@import "webicons";

/*
  Navbar Style
*/
@import "navbar";

/*
  Responsive Mobile Navbar Style
*/
@import "responsivenav";

/*
  Parallax Style Main
*/
@import "parallax";

/*
  Masonry.js Style Main
*/
@import "masonry";

/*
  About Me Section
*/
@import "about";

/*
  Slider Style
*/
@import "slickSlider";

/*
  Contact Me Form
*/
@import "contact";

/*
  Footer Style
*/
@import "footer";

/*
  Responsive media queries
*/
@import "responsivequeries";
