// Contact form
.content-header {
  color: #fcc500;
  font-family: $montserrat;
  font-size: 1.15em;
}

.section-content {
  text-align: center;
}

#contact {
  background: #343a40;
  color: #fff;
  font-family: $montserrat;
  letter-spacing: 0.055em;
  margin-top: 80px;
  padding-top: 60px;
  width: 100vw;
}

.contact-section {
  padding: 30px 0 50px 0;
}

.contact-section .col-md-6 {
  width: 50%;
}

.form-line {
  border-right: 1px solid #b29999;
  flex-direction: column;
}

.form-group {
  margin-top: 10px;
}

label {
  font-size: 1.3em;
  font-weight: normal;
  line-height: 1em;
}

.form-control {
  letter-spacing: 0.055em;
  color: #080808;
  font-size: 1.3em;
}

textarea.form-control {
  height: 125px;
}

.submit {
  background-color: rgba(0, 0, 0, 0.45);
  color: #fff;
  float: right;
  font-size: 1.1em;
  letter-spacing: 0.02em;
  width: 150px;
}
