@media screen and (min-width: 320px) and (max-width: 359px) { 
  .background h1 {
    font-size: 1em;
    width: 260px;
    padding: 0;
  }

  body h2 {
    font-size: 1.3em;
    padding: 0 20px;
  }

  .form-line {
    border-right: 0;
  }

  .contact-section .col-md-6 {
    width: 100vw;
  }

  .view {
    &:hover h2,
    &:hover a.info {
      font-size: 1.2em;
      transform: translateY(-15px);
    }
  
    &:hover p {
      font-size: .9em;
      transform: translateY(-10px);
    }
  
    &:hover a.info {
      font-size: .9em;
      transform: translateY(-10px);
    }
  }
}

@media screen and (min-width: 360px) and (max-width: 389px) { 
  .background h1 {
    font-size: 1em;
    width: 260px;
    padding: 0;
  }

  body h2 {
    font-size: 1.3em;
    padding: 0 20px;
  }

  .form-line {
    border-right: 0;
  }

  .contact-section .col-md-6 {
    width: 100vw;
  }

  .view {
    &:hover h2,
    &:hover a.info {
      font-size: 1.4em;
      transform: translateY(-5px);
    }
  
    &:hover p {
      font-size: 1.1em;
      transform: translateY(5px);
    }
  
    &:hover a.info {
      font-size: .9em;
      transform: translateY(0px);
    }
  }
}

@media screen and (min-width: 390px) and (max-width: 767px) { 
  .background h1 {
    font-size: 1em;
    width: 260px;
    padding: 0;
  }

  body h2 {
    font-size: 1.3em;
    padding: 0 20px;
  }

  .form-line {
    border-right: 0;
  }

  .contact-section .col-md-6 {
    width: 100vw;
  }

  .view {
    &:hover h2,
    &:hover a.info {
      font-size: 1.6em;
      transform: translateY(-5px);
    }
  
    &:hover p {
      font-size: 1.1em;
      transform: translateY(5px);
    }
  
    &:hover a.info {
      font-size: .9em;
      transform: translateY(0px);
    }
  }
}

// Medium devices (tablets, 768px and up)
@media screen and (min-width: 768px) and (max-width: 992px) {
  body h2 {
    font-size: 1.8em;
    padding: 0 20px;
  }

  .form-line {
    border-right: 1px solid #B29999;
  }

  .view {
    &:hover h2,
    &:hover a.info {
      font-size: 1.4em;
      transform: translateY(-5px);
    }
  
    &:hover p {
      font-size: 1.1em;
      transform: translateY(5px);
    }
  
    &:hover a.info {
      font-size: .9em;
      transform: translateY(0px);
    }
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) { 
  .view {
    &:hover h2,
    &:hover a.info {
      font-size: 1.9em;
      transform: translateY(-5px);
    }
  
    &:hover p {
      font-size: 1.3em;
      transform: translateY(10px);
    }
  
    &:hover a.info {
      font-size: 1.4em;
      transform: translateY(10px);
    }
  }
}