// Thank you page displayed after submitting the contact form
.intro-header {
  height: 92vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-header .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-message {
  font-family: $procionoFont;
  letter-spacing: 0.045em;
  width: 50%;
}