$backgroundColor: rgb(231, 231, 231);
$fontColor: #000;
$headerFontColor: #FFF;
$katibehFont: 'Katibeh', cursive;
$mainBorder: 1px solid #FFF;
$mainFontSize: 16px;
$neutonFont: 'Neuton', serif;
$procionoFont: 'Prociono', serif;
$satisfyFont: 'Satisfy', cursive;

@font-face {
  font-family: 'Prociono';
  font-style: normal;
  font-weight: 400;
  src: local('Prociono'), local('Prociono-Regular'), url(../fonts/Prociono-Regular.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Neuton';
  font-style: normal;
  font-weight: 400;
  src: local('Neuton Regular'), local('Neuton-Regular'), url(../fonts/Neuton-Regular.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Neuton';
  font-style: normal;
  font-weight: 700;
  src: local('Neuton Bold'), local('Neuton-Bold'), url(../fonts/Neuton-Bold.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Satisfy';
  font-style: regular;
  font-weight: 400;
  src: local('Satisfy Regular'), local('Satisfy-Regular'), url(../fonts/Satisfy-Regular.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Katibeh';
  font-style: regular;
  font-weight: 400;
  src: local('Katibeh Regular'), local('Katibeh-Regular'), url(../fonts/Katibeh-Regular.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}