@import "variables", "navbar", "projects", "contactform", "mobileQueries", "thankyoupage";

*,
*:before,
*:after {
  box-sizing: border-box;
}

.body {
  background-color: $backgroundColor;
  display: flex;
  flex-direction: column;
  font-size: $mainFontSize;
  font-size: 16px;
  overflow-x: hidden;
  width: 100vw;

  h2 {
    font-family: $neutonFont;
    letter-spacing: .045em;
    margin: 80px 0;
    text-align: center;
  }
}

// Hero banner
.background {
  height: 524px;
  overflow: hidden;

  img {
    position: relative;
  }

  h1 {
    background: rgba(0, 0, 0, 0.85);
    border-radius: 6px;
    color: $headerFontColor;
    font-family: $procionoFont;
    font-size: 2.1em;
    left: 50%;
    letter-spacing: .032em;
    padding: .26em;
    position: absolute; 
    text-align: center;
    top: 280px;
    transform: translate(-50%, -50%);
    z-index: 10;
  }
}

// Yellow box on span
.projects {
  display: inline-block;
  background: rgb(255, 255, 30);
  padding: 0 6px 8px 8px;
  margin: 0 -2px 0 -3px;
  color: #212529;
  transform:  translateY(-2.5%) rotate(3deg);
}

// Inverse span text
.inverse-projects {
  display: inline-block;
  transform:  translateY(+2.5%) rotate(-3deg);
}

// Page footer
#footer {
  color: $fontColor;
  display: flex;
  justify-content: center;
  padding-top: 2.2vh;
  background: #e7e7e7;

  p {
    display: flex;
    font-family: $neutonFont;
    font-size: 0.85em;
    justify-content: center;
    letter-spacing: .05em;
  }
}
