@import "reboot", "font";

body {
  font-family: $montserrat;
  font-size: 16px;
  overflow-x: hidden;
}

/*
  Navbar Style
*/
@import "navbar";

/*
  Parallax Style Main
*/
@import "parallax";

/*
  Masonry.js Style Main
*/
@import "masonry";

/*
  About Me Section
*/
@import "about";

/*
  Slider Style
*/
@import "slickSlider";

/*
  Contact Me Form
*/
@import "contact";

/*
  Footer Style
*/
@import "footer";

/*
  Webicons Social Icons
*/
@import "webicons";
