@import "font";

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

/*
  Navbar Style
*/
header {
  background: transparent;
  position: relative;
  width: 100%;
}

.nav-wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
  padding: 7px 0;
  position: relative;
}

.name a {
  color: #fff;
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  line-height: 1rem;
  pointer-events: none;
  text-decoration: none;
}

.menu li {
  display: inline-block;
  margin-bottom: 0;
  padding: 0 10px;
}

.menu a {
  border-bottom: 1px solid transparent;
  color: white;
  cursor: pointer;
  font-size: 1.2rem;
  line-height: 3rem;
  padding-bottom: 3px;
  text-decoration: none;
  transition: 0.3s;
}

.menu a:hover {
  border-bottom: 1px solid #fff;
  color: #fff;
  text-decoration: none;
}

/*
  Sticky header style
*/
header.sticky {
  background: rgba(0, 0, 0, 0.85);
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  transform: translateY(-200%);
  transition: 0.2s;
  z-index: 5;
}

body.scroll header.sticky {
  transform: translateY(0);
}

/*
  Parallax Style Main
*/
.cover-main {
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
    url("../images/background-hero.jpeg") no-repeat / cover;
  height: 60vh;
}

.wrapper {
  margin: 0 auto;
  max-width: 1100px;
  width: 100%;
}

#scene {
  margin-top: 7.5rem;
}

#scene li.name {
  color: #fff;
  font-size: 3.3rem;
  line-height: 3.5rem;
  text-align: center;
  width: 100%;
}

#scene li.title {
  color: #fff;
  font-size: 2rem;
  line-height: 2rem;
  margin-top: 4.6rem;
  text-align: center;
  width: 100%;
}

#scene li.btn {
  color: #fff;
  margin-top: 9rem;
  text-align: center;
  width: 100%;
}

.portfolio-btn,
.contact-btn {
  font-size: 1.1rem;
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  display: inline-block;
  margin: 0 auto;
  padding: 10px 20px;
  pointer-events: auto;
  text-decoration: none;
  transition: 0.3s;
  &:hover {
    background-color: #fff;
    color: black;
    text-decoration: none;
  }
}

.portfolio-btn {
  margin-right: 2rem;
}

.contact-btn {
  margin-left: 2rem;
}

/*
  Masonry.js Style Main
*/

h2.sub-title {
  position: relative;
  display: block;
  margin: 70px auto;
  text-align: center;
  font-size: 2rem;
  line-height: 2.2rem;
  &:after {
    display: block;
    height: 2px;
    background-color: #000;
    content: "";
    width: 100px;
    margin: 30px auto 0 auto;
  }
}

h2.sub-title .masonry-grid {
  position: relative;
}

.grid {
  margin: 0 auto;
}

.grid-item {
  float: left;
  width: 450px;
  border: 2px solid hsla(0, 0%, 0%, 0.5);
  margin-bottom: 20px;
}

.wide-img {
  width: 600px;
}

img {
  max-width: 100%;
}

/*
  About Me Section
*/
section.beating-heart {
  align-items: center;
  align-self: center;
  background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
    url(../images/aboutme.jpeg) no-repeat / cover;
  color: #fff;
  display: flex;
  height: 100vh;
  justify-content: center;
  margin-top: 4rem;
  padding: 50px 10px;
  text-align: center;
  h2 {
    font-size: 2.5rem;
    line-height: 2.8rem;
    margin-bottom: 30px;
    &:after {
      background-color: #fff;
    }
  }
  span {
    font-size: 5rem;
  }
  p {
    line-height: 2.2rem;
    font-size: 2rem;
    margin-bottom: 50px;
  }
}

.heart {
  margin: 0 50px;
  position: relative;
  width: 100px;
  animation: pulse 1s infinite;
}

/*
  Heart Animation Keyframes
*/
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  15% {
    transform: scale(1.25);
  }
  25% {
    transform: scale(1.15);
  }
  35% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(0.85);
  }
}
