@font-face {
  font-family: 'Prociono';
  font-style: normal;
  font-weight: 400;
  src: local("Prociono"), local("Prociono-Regular"), url(fonts/Prociono-Regular.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Neuton';
  font-style: normal;
  font-weight: 400;
  src: local("Neuton Regular"), local("Neuton-Regular"), url(fonts/Neuton-Regular.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Neuton';
  font-style: normal;
  font-weight: 700;
  src: local("Neuton Bold"), local("Neuton-Bold"), url(fonts/Neuton-Bold.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Satisfy';
  font-style: regular;
  font-weight: 400;
  src: local("Satisfy Regular"), local("Satisfy-Regular"), url(fonts/Satisfy-Regular.ttf) format("truetype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Katibeh';
  font-style: regular;
  font-weight: 400;
  src: local("Katibeh Regular"), local("Katibeh-Regular"), url(fonts/Katibeh-Regular.ttf) format("truetype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

.fixed-top {
  position: fixed;
  top: 0;
  z-index: 2000;
}

.container a {
  color: #FFF !important;
  font-family: "Neuton", serif;
  letter-spacing: .14em;
}

a.nav-link {
  font-family: "Neuton", serif;
  letter-spacing: .064em;
  margin: 0 3px;
  text-align: center;
}

li.nav-item.active:hover a {
  background: #FFF;
  border-radius: 5px;
  color: #000 !important;
}

.view {
  border-radius: .25rem;
  -webkit-box-shadow: 1px 1px 2px #e6e6e6;
  box-shadow: 1px 1px 2px #e6e6e6;
  cursor: default;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  margin-bottom: 25px;
}

.view .mask {
  background-color: rgba(52, 58, 64, 0.8);
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.view .mask, .view .content {
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
}

.view img {
  max-height: 100%;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.view h2 {
  color: #fff;
  font-family: "Katibeh", cursive;
  font-size: 1.45em;
  letter-spacing: .125em;
  margin: 20px 0 0 0;
  opacity: 0;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  -webkit-transform: translateY(-100px);
  transform: translateY(-100px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.view p {
  color: #fff;
  font-family: "Neuton", serif;
  font-size: 1.1em;
  letter-spacing: .045em;
  opacity: 0;
  position: relative;
  text-align: center;
  -webkit-transform: translateY(100px);
  transform: translateY(100px);
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.view a.info {
  background: #000;
  -webkit-box-shadow: 0 0 1px #000;
  box-shadow: 0 0 1px #000;
  color: #fff;
  display: inline-block;
  letter-spacing: 0.055em;
  opacity: 0;
  padding: 7px 14px;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.view a.info:hover {
  -webkit-box-shadow: 0 0 5px #000;
  box-shadow: 0 0 5px #000;
}

.view:hover img {
  overflow: hidden;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.view:hover .mask {
  opacity: 1;
}

.view:hover h2,
  .view:hover a.info {
  opacity: 1;
  -webkit-transform: translateY(-55px);
  transform: translateY(-55px);
}

.view:hover p {
  opacity: 1;
  -webkit-transform: translateY(-70px);
  transform: translateY(-70px);
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.view:hover a.info {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.content-header {
  color: #fcc500;
  font-family: "Satisfy", cursive;
  font-size: 1.15em;
}

.section-content {
  text-align: center;
}

#contact {
  background: #343a40;
  color: #fff;
  font-family: "Prociono", serif;
  letter-spacing: 0.055em;
  margin-top: 80px;
  padding-top: 60px;
  width: 100vw;
}

.contact-section {
  padding: 30px 0 50px 0;
}

.contact-section .col-md-6 {
  width: 50%;
}

.form-line {
  border-right: 1px solid #B29999;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.form-group {
  margin-top: 10px;
}

label {
  font-size: 1.3em;
  font-weight: normal;
  line-height: 1em;
}

.form-control {
  letter-spacing: 0.055em;
  color: #080808;
  font-size: 1.3em;
}

textarea.form-control {
  height: 125px;
}

.submit {
  background-color: rgba(0, 0, 0, 0.45);
  color: #fff;
  float: right;
  font-size: 1.1em;
  letter-spacing: 0.02em;
  width: 150px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .background h1 {
    font-size: 1.4em;
    min-width: 350px;
  }

  body h2 {
    font-size: 1.3em;
    padding: 0 20px;
  }

  .form-line {
    border-right: 0;
  }

  .contact-section .col-md-6 {
    width: 100vw;
  }

  .view:hover h2 {
    font-size: 1.2em;
    top: -10px;
  }

  .view:hover p {
    font-size: 1em;
    margin: 0;
    padding: 0;
    top: -40px;
  }

  .view:hover a.info {
    -webkit-transform: translateY(-85px);
    transform: translateY(-85px);
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .background h1 {
    font-size: 1.8em;
    min-width: 350px;
  }

  body h2 {
    font-size: 1.8em;
    padding: 0 20px;
  }

  .form-line {
    border-right: 1px solid #B29999;
  }

  .view:hover h2 {
    font-size: 0.9em;
    top: -10px;
  }

  .view:hover p {
    font-size: 0.9em;
    margin: 0;
    padding: 0;
    top: -40px;
  }

  .view:hover a.info {
    -webkit-transform: translateY(-110px);
    transform: translateY(-110px);
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .view:hover h2 {
    font-size: 1.2em;
    top: -5px;
  }

  .view:hover p {
    font-size: 1em;
    margin: 0;
    padding: 0;
    top: -25px;
  }
}

.intro-header {
  height: 92vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.intro-header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.intro-message {
  font-family: "Prociono", serif;
  letter-spacing: 0.045em;
  width: 50%;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.body {
  background-color: #e7e7e7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: 16px;
  font-size: 16px;
  overflow-x: hidden;
  width: 100vw;
}

.body h2 {
  font-family: "Neuton", serif;
  letter-spacing: .045em;
  margin: 80px 0;
  text-align: center;
}

.background {
  height: 524px;
  overflow: hidden;
}

.background img {
  position: relative;
}

.background h1 {
  background: rgba(0, 0, 0, 0.85);
  border-radius: 6px;
  color: #FFF;
  font-family: "Prociono", serif;
  font-size: 2.1em;
  left: 50%;
  letter-spacing: .032em;
  padding: .26em;
  position: absolute;
  text-align: center;
  top: 280px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 10;
}

.projects {
  display: inline-block;
  background: #ffff1e;
  padding: 0 6px 8px 8px;
  margin: 0 -2px 0 -3px;
  color: #212529;
  -webkit-transform: translateY(-2.5%) rotate(3deg);
  transform: translateY(-2.5%) rotate(3deg);
}

.inverse-projects {
  display: inline-block;
  -webkit-transform: translateY(2.5%) rotate(-3deg);
  transform: translateY(2.5%) rotate(-3deg);
}

#footer {
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 2.2vh;
  background: #e7e7e7;
}

#footer p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Neuton", serif;
  font-size: 0.85em;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  letter-spacing: .05em;
}
